
<p> Our current Bike </p>

<div>
  Type: <%= @bike.type %>
</div>
<div>
  Color: <%= @bike.color %>
</div>
<div>
  Gear Data:
    <span> Number of gears: <%= @bike.gears.number_of_gears %> </span>
    <span> Number of gears: <%= @bike.gears.producer %> </span>
    <span> Number of gears: <%= @bike.gears.type %> </span>
</div>
