
<p> Our current Bike </p>

<div>
  Type: <%= @bike.type %>
</div>
<div>
  Color: <%= @bike.color %>
</div>
<div>
  Gear Data:
    <span> Number of gears: <%= @bike.number_of_gears %> </span>
    <span> Number of gears: <%= @bike.gear_producer %> </span>
    <span> Number of gears: <%= @bike.gear_type_name %> </span>
</div>
